/**Reset Style**/

* {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**Universal Styles**/
html {
    font-size: 22px;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
    text-align: center;
}

/**Header**/

header {
    position: fixed;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 2;
}

.logo {
    margin-left: 10px;
}

.logo img {
    height: 50px;
    width: auto;  
}

.navigation {  
    justify-content: space-between;  
}

ul {
    list-style-type: none;  
}

li {
    
    display: inline-block;
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 10px; 
}

/**Main Stylings**/

main {
    top: 70px;
    position: relative;
    width: 100%;
    height: auto;
    
}

.banner {
    height: 700px;
    width: auto;
    background-image: url(./images/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-headings {
    width: 1200px;
    background-color: black;
}

.mission-headings h2 {
    margin-top: 0.5rem;
}

.mission-headings h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
